{% extends 'phonebook/base.html' %}

{% block content %}

{% for instance in object_list %}
        <div class="jumbotron bg-secondary">
            <div class="container text-white">
                <h2 class="display-6">{{instance.name|title}} | {{ instance.sitrep_time|date:'d-M-H:i' }}</h2>
                <p class="display-6" style="font-size:1.7rem"><span class="badge badge-warning badge">Sitrep Description:</span></p>
                <p class="lead">{{ instance.description }}</p>
            </div>
        </div>
{% empty %}
        <div class="jumbotron bg-secondary text-light">
            <h1>There are no sitreps for {% now "jS F Y H:i" %} </h1>
        </div>
{% endfor %}

{% endblock %}